<!DOCTYPE html>

<html lang="fr" dir="ltr">



    <head>

        <meta charset="utf-8" />
        <meta name="author" content="Boris Rose">
        <meta name="description" content="oFig : Figurines et Statuettes à vendre">
        <meta name="keywords" content="figurines, statuettes, France, oFog, vente">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>oFog Products Page</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../global.css">
        <link rel="stylesheet" href="../css/products.css">
        <script src="https://kit.fontawesome.com/3b3c8e71e5.js" crossorigin="anonymous"></script>


    </head>




    <body>
      
        <!-- HEADER -->

            <header id="body-header">

                
                <div id="body-header__main-title-container">

                    <h1> oFig </h1>
                    <span id="body-header-span" aria-label="oFig products"> Figurines et statuettes </span>

                </div>


            
        
                <div id="body-header__basket-logout-icon-container">
                    <i  id="basket-icon" class="fa-solid fa-basket-shopping"><span id="basket-products-count"></span></i>
                    <i id="logout-icon" class="fa-solid fa-right-from-bracket"></i>
                </div>
        


            </header>

         

        <!-- END OF HEADER -->


        <!-- MAIN -->

            <main>

            <!-- MAIN ARTICLE OR MAIN SECTION --->

                <article id="main-article" aria-describedby="main-article-h2">


                <!-- MAIN ARTICLE HEADER OR MAIN SECTION HEADER -->

                    <header id="main-article-header">
                            <h2 id="main-article-h2">Figurines sur le thème <span id="category" aria-label="category">Final Fantasy</span></h2>

                    </header>

                <!-- END OF THE MAIN ARTICLE HEADER OR MAIN SECTION HEADER-->
                <!-- DIV WRAPPING THE 3 INNER ARTICLES -->

                    <div id="articles-container" aria-label="articles">

                       


                    </div>
                <!-- END OF THE DIV WRAPPING THE 3 INNER ARTICLES-->
                </article>

            <!-- END OF THE MAIN ARTICLE OR SECTION  -->


            </main>
        <!--- END OF THE MAIN -->

        <!-- FOOTER -->

            <footer id="body-footer">
                <p>oFig-toutes les images sont sous copyroght SquareEnix</p>
            </footer>


        <!-- END OF FOOTER -->


        <script type="module">

            import { App } from "../App.js";

            App()

         </script>


    </body>





</html>